.register {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../../images/hero2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: brightness(0.9);
}

.registerWrapper{
    width: 60%;
    display: flex;
    justify-content: space-between;
    background-color: #0000007e;
    border-radius: 10px;
    padding: 20px;
}

.registerLeft, .registerRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerLeft {
    margin-right: 40px;
}

.logoContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logoContainer .logoImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.logoContainer .logoText {
    font-size: 50px;
    font-weight: 900;
    color: #3C8DAD;
}

.registerLeft .registerDesc {
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.registerRight .registerBox {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registerBox .registerInput {
    height: 44px;
    border: 2px solid gray;
    border-radius: 10px;
    outline: none;
    padding-left: 12px;
    font-size: 15px;
}

.registerBox .registerButton {
    height: 44px;
    border: none;
    background-color: #3C8DAD;
    border-radius: 10px;
    color:white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    cursor: pointer;
    outline: none;
    border: 4px solid #3C8DAD;
    border-style: groove;
}

.registerButton:disabled {
    cursor: not-allowed;
}

.loginLink {
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #0000007e;
    margin-top: 60px;
    padding: 27px;
    border-radius: 10px;
    cursor: pointer;
}

.loginLink .loginLinkText {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.loginLink .loginLinkButton {
    background-color: #FB9300;
    padding: 7px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    color: white;
}

.errorMessage {
    font-size: 17px;
    color: #DA0037;
    align-self: center;
}

@media screen and (max-width: 800px) {
    .logoContainer .logoText {
        font-size: 46px;
    }
    .loginLeft .loginDesc {
        font-size: 20px;
    }
}

@media screen and (max-width: 670px) {
    .logoContainer .logoText {
        font-size: 32px;
    }
    .loginLeft .loginDesc {
        font-size: 17px;
    }
    .loginLink .loginLinkText {
        font-size: 17px;
    }
    .errorMessage {
        font-size: 15px;
    }
}