.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logoutButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: tomato;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.homeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeTop .userHome {
    font-size: 24px;
    font-weight: 600;
    color: #D3E0EA;
    text-decoration: underline;
}

.homeBottom .dashboard {
    height: 320px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #3C8DAD;
    border-radius: 20px;
    margin-top: 60px;
    padding: 20px;
}

.dashboard .dashboardItem {
    height: 30px;
    width: 70%;
    border: 2px solid gray;
    border-radius: 10px;
    outline: none;
    padding-left: 12px;
    font-size: 15px;
}

.dashboard .dashboardButton {
    width: 40%;
    border: none;
    background-color: #FB9300;
    border-radius: 10px;
    color:white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    margin-top: 17px;
    padding: 7px;
}