
.postContainer {
    background-color: azure;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
}

.postItem {
    display: flex;
    margin-bottom: 7px;
}

.postItem .label {
    margin-right: 6px;
}

